[Desktop Entry]
Name=User Management
Name[es]=Gestión de Usuarios
Comment=Manage system users
Exec=pkexec env DISPLAY=$DISPLAY XAUTHORITY=$XAUTHORITY dbus-launch sgusers
Icon=preferences-system-users
Terminal=false
Type=Application
Keywords=User Management;System Users;Account Administration;Permissions;Security;Settings;
Categories=System;Settings;GTK;Utility;
X-AppStream-Ignore=true
